{% extends 'base.html.twig' %}

{% block body_id 'user' %}

{% block header %}
    <header>
    </header>
{% endblock %}

{% block footer %}{{ parent() }}{% endblock %}

{% block body %}
    <div class="wrapper">
        {{ include('users/_user-v2-navbar.html.twig') }}
        {{ include('users/_user-v2-sidebar.html.twig') }}
        {{ include('users/_user-v2-content.html.twig') }}
        {{ include('users/_user-v2-sidebar-control.html.twig') }}
    </div>
{% endblock %}