{% form_theme formregistration _self %}
<div class="container my-1 my-lg-1 px-lg-2 mt-lg-3">
    <div class="row mx-lg-2">
        <div id="contentFormRegistration" class="col py-2 px-lg-1">
            <div id="form-registration">
                {{ form_start(formregistration) }}
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card bg-light mb-3">
                                <div class="card-header font-weight-bold">Авторизационные данные</div>
                                <div class="card-body">
                                    <div class="form-group col text-dark">
{#                                        <legend>{{'user.username'|trans({},'forms')|raw}}</legend>#}
                                        {{ form_label(formregistration.username) }}
                                        {{ form_widget(formregistration.username) }}
                                        <small>{{ form_help(formregistration.username) }}</small>
                                        {{ form_errors(formregistration.username) }}
                                    </div>
                                    <div class="form-group col text-dark">
{#                                        <legend>{{'user.email'|trans({},'forms')|raw}}</legend>#}
                                        {{ form_label(formregistration.email) }}
                                        {{ form_widget(formregistration.email) }}
                                        <small>{{ form_help(formregistration.email) }}</small>
                                        {{ form_errors(formregistration.email) }}
                                    </div>
                                    <div class="form-group col text-dark">
{#                                        <legend>{{'user.password_all'|trans({},'forms')|raw}}</legend>#}
                                        {{ form_widget(formregistration.plainPassword) }}
                                        <small>{{ form_help(formregistration.plainPassword) }}</small>
                                        {{ form_errors(formregistration.plainPassword) }}
                                        <div class="valid-tooltip">Введите имя пользователя. Должно содержать 3 и более символов</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card bg-light mb-3">
                                <div class="card-header font-weight-bold">Фамилия, имя, отчество на русском языке</div>
                                <div class="card-body">
                                    <div class="form-group col text-dark">
{#                                        <legend>{{'user.lastname'|trans({},'forms')|raw}}</legend>#}
                                        {{ form_label(formregistration.lastname) }}
                                        {{ form_widget(formregistration.lastname) }}
                                        <small>{{ form_help(formregistration.lastname) }}</small>
                                        {{ form_errors(formregistration.lastname) }}
                                        <div class="valid-tooltip">Введите имя пользователя. Должно содержать 3 и более символов</div>
                                    </div>
                                    <div class="form-group col text-dark">
{#                                        <legend>{{'user.firstname'|trans({},'forms')|raw}}</legend>#}
                                        {{ form_label(formregistration.firstname) }}
                                        {{ form_widget(formregistration.firstname) }}
                                        <small>{{ form_help(formregistration.firstname) }}</small>
                                        {{ form_errors(formregistration.firstname) }}
                                        <div class="valid-tooltip">Введите имя пользователя. Должно содержать 3 и более символов</div>
                                    </div>
                                    <div class="form-group col text-dark">
{#                                        <legend>{{'user.patronymic'|trans({},'forms')|raw}}</legend>#}
                                        {{ form_label(formregistration.patronymic) }}
                                        {{ form_widget(formregistration.patronymic) }}
                                        <small>{{ form_help(formregistration.patronymic) }}</small>
                                        {{ form_errors(formregistration.patronymic) }}
                                        <div class="valid-tooltip">Введите имя пользователя. Должно содержать 3 и более символов</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card bg-light mb-3">
                                <div class="card-header font-weight-bold">Категория пользователя</div>
                                <div class="card-body">
                                    <div class="form-group col text-dark">
                                        <p class="mb-1">{{'user.kind'|trans({},'forms')|raw}}</p>
{#                                        {{ form_label(formregistration.userkind) }}#}
                                        {{ form_widget(formregistration.userkind) }}
                                        <small>{{ form_help(formregistration.userkind) }}</small>
                                        {{ form_errors(formregistration.userkind) }}
                                        <div class="valid-tooltip">Введите имя пользователя. Должно содержать 3 и более символов</div>
                                    </div>
                                    <div class="form-group col text-dark">
                                        <p class="mb-1">{{'user.roles'|trans({},'forms')|raw}}</p>
{#                                        {{ form_label(formregistration.roles) }}#}
                                        {{ form_widget(formregistration.roles, {'attr': {'class': 'custom-control custom-radio'}}) }}
                                        <small>{{ form_help(formregistration.roles) }}</small>
                                        {{ form_errors(formregistration.roles) }}
                                        <div class="valid-tooltip">Введите имя пользователя. Должно содержать 3 и более символов</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card bg-light mb-3">
                                <div class="card-header font-weight-bold">Информация о пользователе</div>
                                <div class="card-body">
                                    {# ############################################################ #}
                                    {# Блок информации о пользователе типа "Сотрудник университета" #}
                                    <div id="colleague-department" class="form-group col text-dark">
{#                                        <legend>{{'user.department'|trans({},'forms')|raw}}</legend>#}
                                        {{ form_label(formregistration.department) }}
                                        {{ form_widget(formregistration.department) }}
                                        <small>{{ form_help(formregistration.department) }}</small>
                                        {{ form_errors(formregistration.department) }}
                                        <div class="valid-tooltip">Введите имя пользователя. Должно содержать 3 и более символов</div>
                                    </div>
                                    <div id="colleague-position"  class="form-group col text-dark">
{#                                        <legend>{{'user.positions'|trans({},'forms')|raw}}</legend>#}
                                        {{ form_label(formregistration.positions) }}
                                        {{ form_widget(formregistration.positions) }}
                                        <small>{{ form_help(formregistration.positions) }}</small>
                                        {{ form_errors(formregistration.positions) }}
                                        <div class="valid-tooltip">Введите имя пользователя. Должно содержать 3 и более символов</div>
                                    </div>
                                    {# ############################################################ #}

                                    {# ############################################################ #}
                                    {# Блок информации о пользователе типа "Студент университета"   #}
                                    <div id="student-faculty" class="form-group col text-dark invisible">
{#                                        <legend>{{'user.faculty'|trans({},'forms')|raw}}</legend>#}
                                        {{ form_label(formregistration.faculty) }}
                                        {{ form_widget(formregistration.faculty) }}
                                        <small>{{ form_help(formregistration.faculty) }}</small>
                                        {{ form_errors(formregistration.faculty) }}
                                        <div class="valid-tooltip">Введите имя пользователя. Должно содержать 3 и более символов</div>
                                    </div>
                                    <div id="student-speciality" class="form-group col text-dark invisible">
{#                                        <legend>{{'user.speciality'|trans({},'forms')|raw}}</legend>#}
                                        {{ form_label(formregistration.speciality) }}
                                        {{ form_widget(formregistration.speciality) }}
                                        <small>{{ form_help(formregistration.speciality) }}</small>
                                        {{ form_errors(formregistration.speciality) }}
                                        <div class="valid-tooltip">Введите имя пользователя. Должно содержать 3 и более символов</div>
                                    </div>
                                    <div id="student-group" class="form-group col text-dark invisible">
{#                                        <legend>{{'user.group'|trans({},'forms')|raw}}</legend>#}
                                        {{ form_label(formregistration.group) }}
                                        {{ form_widget(formregistration.group) }}
                                        <small>{{ form_help(formregistration.group) }}</small>
                                        {{ form_errors(formregistration.group) }}
                                        <div class="valid-tooltip">Введите имя пользователя. Должно содержать 3 и более символов</div>
                                    </div>
                                    {# ############################################################ #}
                                    <div class="form-group col text-dark">
                                        <p class="mb-1">{{'user.interests'|trans({},'forms')|raw}}</p>
{#                                        {{ form_label(formregistration.interests) }}#}
                                        {{ form_widget(formregistration.interests, {'attr': {'class': 'custom-control custom-checkbox'}}) }}
                                        <small>{{ form_help(formregistration.interests) }}</small>
                                        {{ form_errors(formregistration.interests) }}
                                        <div class="valid-tooltip">Введите имя пользователя. Должно содержать 3 и более символов</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{ form_end(formregistration) }}
            </div>
        </div>
    </div>
</div>