<nav class="navbar navbar-default navbar-expand-lg navbar-dark navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('homepage') }}">
                <strong>BarSU</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav mr-auto">
                <li>
                    <a href="{{ path('homepage') }}">
                        <i class="fa fa-home" aria-hidden="true"></i> {{ 'menu.homepage'|trans({},'interfaces') }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('homepage') }}">
                        <i class="fa fa-phone"></i> {{ 'menu.contacts'|trans({},'interfaces') }}
                    </a>
                </li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="input-group">
                    <input class="form-control  input-sm span-2" type="text" placeholder="{{ 'menu.search'|trans({},'interfaces') }}" aria-label="search">
                    <div class="input-group-btn ">
                        <button class="btn btn-sm" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>

            <ul class="nav navbar-nav navbar-right">
                {#
                    {% if app.user %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" id="user">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span class="caret"></span>
                                <span class="sr-only">{{ app.user.fullname }}</span>
                            </a>
                            <ul class="dropdown-menu user" role="menu" aria-labelledby="user">
                                <li>
                                    <a href="{{ path('homepage') }}">
                                        <i class="fa fa-edit" aria-hidden="true"></i> {{ 'menu.user'|trans }}
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="{{ path('homepage') }}">
                                        <i class="fa fa-sign-out" aria-hidden="true"></i> {{ 'menu.logout'|trans }}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
#}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" id="locales">
                        <i class="fa fa-globe" aria-hidden="true"></i>
                        <span class="caret"></span>
                        <span class="sr-only">{{ 'menu.choose_language'|trans({},'interfaces') }}</span>
                    </a>
                    <ul class="dropdown-menu locales" role="menu" aria-labelledby="locales">
                        {% for locale in locales() %}
                            <li {% if app.request.locale == locale.code %}aria-checked="true" class="active"{% else %}aria-checked="false"{% endif %} role="menuitem"><a href="{{ path(app.request.get('_route', 'homepage'), app.request.get('_route_params', [])|merge({_locale: locale.code})) }}">{{ locale.name|capitalize }} <small>{{ locale.code[0:2] }}</small></a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>