{# ############################################################################################################### #}
{# Верхнее меню #}
{# ############################################################################################################### #}
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop" aria-controls="navbarTop" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTop">
        <div>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a href="{{ path('homepage') }}" class="nav-link">
                        <i class="fa fa-home"></i> {{ 'menu.homepage-account'|trans({},'base') }}
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" id="btn-notifications">
                        <i class="fa fa-bell"></i> {{ 'menu.notification'|trans({},'base') }}<span class="badge badge-pill badge-primary ml-1">3</span>
                    </a>
                </li>
                <li class="nav-item" id="btn-feedback">
                    <a href="#" class="nav-link">
                        <i class="fa fa-feed"></i> {{ 'menu.feedback'|trans({},'base') }}
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('homepage') }}" class="nav-link">
                        <i class="fa fa-question"></i> {{ 'menu.help'|trans({},'base') }}
                    </a>
                </li>
                <li>
                    <div class="mb-2 ml-2">
                        <form class="">
                            <div class="form-search-item-invert">
                                <input type="text" id="search-nav" required>
                                <label for="search-nav">{{ 'menu.search'|trans({},'base') }}</label>
                            </div>
                            <div class="form-search-item-invert">
                                <button type="submit" class="btn btn-sm btn-link"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                    </div>
                </li>
            </ul>
        </div>

        <div class="ml-auto">
            <ul class="navbar-nav">
                <li class="nav-item dropdown dropleft">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="locales">
                        <i class="fa fa-globe" aria-hidden="true"></i>
                        <span class="caret"></span>
                        <span class="sr-only">{{ 'menu.choose_language'|trans({},'base') }}</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="locales">
                        {% for locale in locales() %}
                            <a class="dropdown-item"  href="{{ path(app.request.get('_route', 'homepage'), app.request.get('_route_params', [])|merge({_locale: locale.code})) }}">{{ locale.name|capitalize }} <small>{{ locale.code[0:2] }}</small></a>
                        {% endfor %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

{# ############################################################################################################### #}
{# Обратная связь                                                                                                  #}
{# ############################################################################################################### #}
<div class="card d-none mx-3 mt-3" id="feedback">
    <div class="card-body">
        <form>
            <fieldset>
                <legend>Написать сообщение</legend>
                <div class="form-group">
                    <label for="exampleTextarea">Текст сообщения</label>
                    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">Выберите файл</label>
                    <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                    <small id="fileHelp" class="form-text text-muted">Если необходимо добавить изображение к Вашему сообщению, то прикрепите файл в одном из форматов .jpg, .png, .gif.</small>
                </div>
                <button type="submit" class="btn btn-primary">Отправить</button>
            </fieldset>
        </form>
    </div>
</div>

{# ############################################################################################################### #}
{# Все оповещения за период (неделя, месяц ...)                                                                    #}
{# ############################################################################################################### #}
{#
<div class="jumbotron jumbotron-fluid d-none mx-3 mt-3" id="notifications">
    <div class="container">
        <h1 class="display-4">Совет факультета</h1>
        <p class="lead">Внимание! 10.03.2020 в аудитории 214/4 состоится Совет инженерного факультета.</p>
        <hr class="my-4 bg-secondary">
        <p>Повестка дня. 1. Избрание по конкурсу. 2. Утверждение стипендиатов. 3. Награждение победителей.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Предыдущее</a>
        </p>
    </div>
</div>
#}
<div class="card d-none mx-3 mt-3" id="notifications">
    <div class="card-header d-flex justify-content-between">
        <div><a href=""><i class="fas fa-angle-double-left"></i></a></div>
        <div><a href=""><i class="fas fa-angle-double-right"></i></a></div>
    </div>
    <div class="card-body">
        <h5 class="card-title ">Совет факультета</h5>
        <p class="card-text">Внимание! 10.03.2020 в аудитории 214/4 состоится Совет инженерного факультета.</p>
        <p class="card-text">Повестка дня. 1. Избрание по конкурсу. 2. Утверждение стипендиатов. 3. Награждение победителей.</p>
    </div>
</div>

{# ############################################################################################################### #}
{# Оперативные оповещения #}
{# ############################################################################################################### #}
<div class="alert alert-dismissible alert-primary mx-3 mt-3">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4 class="alert-heading">Совет факультета</h4>
    <strong>Внимание!</strong> 10.03.2020 в аудитории 214/4 состоится <a href="#" class="alert-link">Совет инженерного факультета</a>.
</div>
<div class="alert alert-dismissible alert-success mx-3 mt-3">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4 class="alert-heading">Победитель конкурса студенческих работ</h4>
    <strong>Отлично сработано!</strong> Под Вашим руководством <a href="#" class="alert-link">студент Иванов И.И. занял 1 место в конкурсе студенческих работ</a>.
</div>
<div class="alert alert-dismissible alert-secondary mx-3 mt-3">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4 class="alert-heading">Международный марафон молодежных инициатив</h4>
    <strong>Внимание!</strong> 11.03.2020 с 13.30 до 16.00 в малом зале столовой состоится <a href="#" class="alert-link">встреча с ветеранами Великой Отечественной войны</a>.
</div>

{# ############################################################################################################### #}
{# Вкладки личного кабинета, подобранные системой                                                                  #}
{# ############################################################################################################### #}
{% if module == 0 %}
    <nav class="mx-3 mt-3">
        <div class="nav nav-tabs bg-light" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active mx-1" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Расписание занятий</a>
            <a class="nav-item nav-link mx-1" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Аттестация студентов</a>
            <a class="nav-item nav-link mx-1" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Видеоконференции, вебинары</a>
        </div>
    </nav>
    <div class="tab-content bg-light mx-3" id="nav-tabContent">
        {# Расписание занятие #}
        {{ include('lib/modules/_schedule.html.twig') }}
        {# Аттестация студентов #}
        {{ include('lib/modules/_attestation.html.twig') }}
        {# Видеоконференции, вебинары #}
        {{ include('lib/modules/_webinar.html.twig') }}
    </div>
{% endif %}

{# ############################################################################################################### #}
{# Вкладки личного кабинета при выборе меню электронная библиотека                                                 #}
{# ############################################################################################################### #}
{% if module == 1 and service == 2 %}
    <nav class="mx-3 mt-3">
        <div class="nav nav-tabs bg-light" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active mx-1" id="nav-elib-tab" data-toggle="tab" href="#nav-elib" role="tab" aria-controls="nav-elib" aria-selected="true">Электронный каталог</a>
            <a class="nav-item nav-link mx-1" id="nav-repository-tab" data-toggle="tab" href="#nav-repository" role="tab" aria-controls="nav-repository" aria-selected="false">Репозиторий</a>
            <a class="nav-item nav-link mx-1" id="nav-warehouse-tab" data-toggle="tab" href="#nav-warehouse" role="tab" aria-controls="nav-warehouse" aria-selected="false">Хранилище электронных ресурсов</a>
            <a class="nav-item nav-link mx-1" id="nav-department-site-tab" data-toggle="tab" href="#nav-department-site" role="tab" aria-controls="nav-department-site" aria-selected="false">Сайты кафедр</a>
            <a class="nav-item nav-link mx-1" id="nav-moodle-tab" data-toggle="tab" href="#nav-moodle" role="tab" aria-controls="nav-moodle" aria-selected="false">СУО "Moodle"</a>
        </div>
    </nav>
    <div class="tab-content bg-light mx-3" id="nav-tabContent">
        {# Электронный каталог библиотеки #}
        {{ include('lib/modules/_elib.html.twig') }}
        {# Репозиторий #}
        {{ include('lib/modules/_repository.html.twig') }}
        {# Хранилище электронных ресурсов #}
        {{ include('lib/modules/_warehouse.html.twig') }}
        {# Сайты кафедр #}
        {{ include('lib/modules/_department_site.html.twig') }}
        {# СУО "Moodle" #}
        {{ include('lib/modules/_moodle.html.twig') }}
    </div>
{% endif %}

{# ############################################################################################################### #}
{# Вкладки личного кабинета при выборе меню информационная система управление приемной кампанией                   #}
{# ############################################################################################################### #}
{% if module == 3 and service == 1 %}
    <nav class="mx-3 mt-3">
        <div class="nav nav-tabs bg-light" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active mx-1" id="nav-ir-entrant-tab" data-toggle="tab" href="#nav-ir-entrant" role="tab" aria-controls="nav-ir-entrant" aria-selected="true">Информационный ресурс "Абитуриент БарГУ"</a>
            <a class="nav-item nav-link mx-1" id="nav-as-entrant-tab" data-toggle="tab" href="#nav-as-entrant" role="tab" aria-controls="nav-as-entrant" aria-selected="false">Автоматизированная система "Абитуриент"</a>
        </div>
    </nav>
    <div class="tab-content bg-light mx-3" id="nav-tabContent">
        {# Инофрмационный ресурс "Абитуриент барГУ" #}
        {{ include('lib/modules/_ir_entrant.html.twig') }}
        {# Автоматизированная система "Абитуриент" #}
        {{ include('lib/modules/_as_entrant.html.twig') }}
    </div>
{% endif %}
