<div class="card text-white bg-primary h-100">
    <img class="rounded-circle img-thumbnail mx-auto" src="{{ asset('build/images/avatar-3.jpg') }}" width="170" height="170" alt="User photo">
    <div class="card-body text-center">
        <h5 class="card-title mb-0"><strong>Иван Жуков</strong></h5>
        <p class="card-text">преподаватель кафедры ИСТ</p>
        <a href="{{ url('homepage') }}" class="btn btn-level-0"><i class="fas fa-sign-out-alt"></i> Выйти</a>
    </div>
    <div class="align-top" id="accordion">
        <div class="card text-white bg-primary">
            <div class="card-header" id="headingOne">
                {# <span class="fas fa-graduation-cap"></span> #}
                <a class="btn btn-level-1" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    {{ 'button.service_1'|trans({},'user')|raw }}
                </a>
            </div>

            <div id="collapseOne" class="collapse {{ module==1 ? 'show' : '' }}" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <div class="card-body-elem">
                        <div class="elem-icon"><i class="fa fa-user-graduate"></i></div>
                        <div class="elem-link">
                            <a href="http://education.barsu.by/" class="btn btn-level-2 {{ module==1 and service==1 ? 'active' : '' }}">
                                {{ 'link.service_1_1'|trans({},'user')|raw }} <i class="fa fa-external-link"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-body-elem">
                        <div class="elem-icon">
                            <i class="fas fa-chalkboard card-link"></i>
                        </div>
                        <div class="elem-link">
                            <a href="{{ url('homepage', {'module':1, 'service':2}) }}" class="btn btn-level-2 {{ module==1 and service==2 ? 'active' : '' }}">
                                {{ 'link.service_1_2'|trans({},'user')|raw }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card text-white bg-primary">
            <div class="card-header" id="headingTwo">
                {# <span class="fas fa-mobile-alt"></span> #}
                <a class="btn btn-level-1 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    {{ 'button.service_2'|trans({},'user')|raw }}
                </a>
            </div>
            <div id="collapseTwo" class="collapse {{ module==2 ? 'show' : '' }}" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <div class="card-body-elem">
                        <div class="elem-icon">
                            <i class="far fa-envelope"></i>
                        </div>
                        <div class="elem-link">
                            <a href="https://barsu.by:2096/" class="btn btn-level-2 {{ module==2 and service==1 ? 'active' : '' }}">
                                {{ 'link.service_2_1'|trans({},'user')|raw }} <i class="fa fa-external-link"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-body-elem">
                        <div class="elem-icon">
                            <i class="far fa-comments"></i>
                        </div>
                        <div class="elem-link">
                            <a href="" class="btn btn-level-2 {{ module==2 and service==2 ? 'active' : '' }}">
                                {{ 'link.service_2_2'|trans({},'user')|raw }} <i class="fa fa-external-link"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-body-elem">
                        <div class="elem-icon">
                            <i class="fas fa-database"></i>
                        </div>
                        <div class="elem-link">
                            <a href="" class="btn btn-level-2 {{ module==2 and service==3 ? 'active' : '' }}">
                                {{ 'link.service_2_3'|trans({},'user')|raw }} <i class="fa fa-external-link"></i>
                            </a>
                        </div>

                    </div>
                    <div class="card-body-elem">
                        <div class="elem-icon">
                            <i class="far fa-calendar-alt"></i>
                        </div>
                        <div class="elem-link">
                            <a href="" class="btn btn-level-2 {{ module==2 and service==4 ? 'active' : '' }}">
                                {{ 'link.service_2_4'|trans({},'user')|raw }}
                            </a>
                        </div>
                    </div>
                    <div class="card-body-elem">
                        <div class="elem-icon">
                            <i class="fas fa-chalkboard-teacher"></i>
                        </div>
                        <div class="elem-link">
                            <a href="" class="btn btn-level-2 {{ module==2 and service==5 ? 'active' : '' }}">
                                {{ 'link.service_2_5'|trans({},'user')|raw }} <i class="fa fa-external-link"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card text-white bg-primary">
            <div class="card-header" id="headingThree">
                {# <span class="fas fa-laptop"></span> #}
                <a class="btn btn-level-1 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    {{ 'button.service_3'|trans({},'user')|raw }}
                </a>
                </h5>
            </div>
            <div id="collapseThree" class="collapse {{ module==3 ? 'show' : '' }}" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    <div class="card-body-elem">
                        <div class="elem-icon">
                            <i class="far fa-handshake"></i>
                        </div>
                        <div class="elem-link">
                            <a href="{{ url('homepage', {'module':3, 'service':1}) }}" class="btn btn-level-2 {{ module==3 and service==1 ? 'active' : '' }}">
                                {{ 'link.service_3_1'|trans({},'user')|raw }}
                            </a>
                        </div>
                    </div>
                    <div class="card-body-elem">
                        <div class="elem-icon">
                            <i class="fa fa-user-graduate"></i>
                        </div>
                        <div class="elem-link">
                            <a href="" class="btn btn-level-2 {{ module==3 and service==2 ? 'active' : '' }}">
                                {{ 'link.service_3_2'|trans({},'user')|raw }}
                            </a>
                        </div>
                    </div>
                    <div class="card-body-elem">
                        <div class="elem-icon">
                            <i class="fas fa-atom"></i>
                        </div>
                        <div class="elem-link">
                            <a href="" class="btn btn-level-2 {{ module==3 and service==3 ? 'active' : '' }}">
                                {{ 'link.service_3_3'|trans({},'user')|raw }}
                            </a>
                        </div>
                    </div>
                    <div class="card-body-elem">
                        <div class="elem-icon">
                            <i class="fas fa-theater-masks"></i>
                        </div>
                        <div class="elem-link">
                            <a href="" class="btn btn-level-2 {{ module==3 and service==4 ? 'active' : '' }}">
                                {{ 'link.service_3_4'|trans({},'user')|raw }}
                            </a>
                        </div>
                    </div>
                    <div class="card-body-elem">
                        <div class="elem-icon">
                            <i class="fas fa-chart-line"></i>
                        </div>
                        <div class="elem-link">
                            <a href="" class="btn btn-level-2 {{ module==3 and service==5 ? 'active' : '' }}">
                                {{ 'link.service_3_5'|trans({},'user')|raw }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body text-center">
        <a href="#" class="btn btn-social"><span class="fa fa-facebook"></span></a>
        <a href="#" class="btn btn-social"><span class="fa fa-google"></span></a>
        <a href="#" class="btn btn-social"><span class="fa fa-instagram"></span></a>
        <a href="#" class="btn btn-social"><span class="fa fa-linkedin"></span></a>
        <a href="#" class="btn btn-social"><span class="fa fa-vk"></span></a>
    </div>
</div>