<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{{'title.head'|trans({},'interfaces')|raw}}</title>
</head>

<body>
<p>Здравствуйте, {{ username }}!</p>
<p>Вы воспользовались возможностью восстановления пароля. Вам сгенерирован временный пароль.</p>
<p>
    Логин: {{ username }}
    Пароль:{{ token }}
</p>
<p>Для установки удобного для Вас пароля можно воспользоваться возможностью смены/сброса пароля.</p>
<p>С уважением,<br> администратор информационно-образовательного пространства БарГУ</p>
</body>
</html>