<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}{{'title.head'|trans({},'interfaces')|raw}} {% endblock %}</title>
     {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body id="{% block body_id %}{% endblock %}">

{% block header %}
    <header>
        {{ include('lib/_navbar.html.twig') }}
    </header>
{% endblock %}

{% block body %}
    <div class="container body-container">
        <div class="row">
            <div id="main" class="col-sm">
                {{ include('lib/_flash_messages.html.twig') }}

                {% block main %}{% endblock %}
            </div>

            <div id="sidebar" class="col-sm-1">
                {% block sidebar %}
{#
                    {{ render_esi(controller('Symfony\\Bundle\\FrameworkBundle\\Controller\\TemplateController::templateAction', {
                        'template': 'blog/about.html.twig',
                        'sharedAge': 600,
                        '_locale': app.request.locale
                    })) }}
#}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer class="bg-light">
        {{ include('lib/_footer.html.twig') }}
    </footer>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src='https://www.google.com/recaptcha/api.js'></script>
    {{ encore_entry_script_tags('app') }}
{% endblock %}

</body>
</html>