<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}{{'title.head'|trans({},'interfaces')|raw}} {% endblock %}</title>
     {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body id="{% block body_id %}{% endblock %}">

{% block header %}
    <header>
        {{ include('lib/_navbar.html.twig') }}
    </header>
{% endblock %}

{% block body %}
    <div class="container body-container">
        <div class="row">
            <div id="main" class="col-sm">
                {{ include('default/_flash_messages.html.twig') }}

                {% block main %}{% endblock %}
            </div>

            <div id="sidebar" class="col-sm-1">
                {% block sidebar %}
{#
                    {{ render_esi(controller('Symfony\\Bundle\\FrameworkBundle\\Controller\\TemplateController::templateAction', {
                        'template': 'blog/about.html.twig',
                        'sharedAge': 600,
                        '_locale': app.request.locale
                    })) }}
#}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer class="bg-light">
        <div class="container">
            <div class="row">
                <div id="footer-copyright" class="col-md-6">
                    <p><span>&copy; {{ 'now'|date('Y') }} БарГУ</span> -
                        <span>{{ 'license'|trans({},'interfaces') }}</span></p>
                </div>
                <div id="footer-resources" class="pull-right">
                    <p>
                        <a href="https://twitter.com/symfony" title="BarSU Twitter">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="https://www.facebook.com/SensioLabs" title="BarSU Facebook">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="https://symfony.com/blog/" title="BarSU Blog">
                            <i class="fa fa-rss" aria-hidden="true"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

</body>
</html>