<div class="row">
    <div class="col-sm-6">
        <div class="jumbotron">
            <p>
                {{ 'help.browse_guest'|trans({},'interfaces')|raw }}
            </p>
            <p>
                <a class="btn btn-primary btn-lg" href="{{ path('homepage') }}">
                    <i class="fa fa-users" aria-hidden="true"></i> {{ 'action.browse_guest'|trans({},'interfaces') }}
                </a>
            </p>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="jumbotron">
            <p>
                {{ 'help.browse_user_sing_in'|trans({},'interfaces')|raw }}
            </p>
            <p>
                <a class="btn btn-primary btn-lg" href="{{ path('homepage') }}">
                    <i class="fa fa-lock" aria-hidden="true"></i> {{ 'action.browse_user_sing_in'|trans({},'interfaces') }}
                </a>
                <a class="btn btn-primary btn-lg" href="{{ path('homepage') }}">
                    <i class="fa fa-user-plus" aria-hidden="true"></i> {{ 'action.browse_user_sing_up'|trans({},'interfaces') }}
                </a>
                <br>
                <a class="" href="{{ path('homepage') }}">
                    <i class="fa fa-frown" aria-hidden="true"></i> {{ 'action.browse_user_forgot_passw'|trans({},'interfaces') }}
                </a>
            </p>
        </div>
    </div>
</div>
