{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{#
    the homepage is a special page which displays neither a header nor a footer.
    this is done with the 'trick' of defining empty Twig blocks without any content
#}
{% block header %}
    <header>
        {{ include('lib/_navbar.html.twig') }}
        {{ include('lib/_authorization.html.twig') }}
    </header>
{% endblock %}
{% block footer %}{{ parent() }}{% endblock %}

{% block body %}
    <div class="container body-container">
        <div class="text-center">
            <h1>{{ 'title.advantages'|trans({},'interfaces')|raw }}</h1>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <div class="jumbotron">
                    <p class="text-center"><i class="fa fa-info fa-2x" aria-hidden="true"></i></p>
                    <p class="display-1">
                        {{ 'help.advantages_information'|trans({},'interfaces')|raw }}
                    </p>
                    <p class="lead">
                        <small>{{ 'help.advantages_information_detail'|trans({},'interfaces')|raw }}</small>
                    </p>
               </div>
            </div>
            <div class="col-sm-3">
                <div class="jumbotron">
                    <p class="text-center"><i class="fa fa-server fa-2x" aria-hidden="true"></i></p>
                    <p class="display-1">
                        {{ 'help.digital_services'|trans({},'interfaces')|raw }}
                    </p>
                    <p class="lead">
                        <small>{{ 'help.digital_services_detail'|trans({},'interfaces')|raw }}</small>
                    </p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="jumbotron">
                    <p class="text-center"><i class="fa fa-graduation-cap fa-2x" aria-hidden="true"></i></p>
                    <p class="display-1">
                        {{ 'help.education_resources'|trans({},'interfaces')|raw }}
                    </p>
                    <p class="lead">
                        <small>{{ 'help.education_resources_detail'|trans({},'interfaces')|raw }}</small>
                    </p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="jumbotron">
                    <p class="text-center"><i class="fa fa-mobile-alt fa-2x" aria-hidden="true"></i></p>
                    <p class="display-1">
                        {{ 'help.access_devices'|trans({},'interfaces')|raw }}
                    </p>
                    <p class="lead">
                        <small>{{ 'help.access_devices_detail'|trans({},'interfaces')|raw }}</small>
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}