{% form_theme formRegister _self %}

<div class="container my-1 my-lg-1 px-lg-2 mt-lg-3">
    <div class="row mx-lg-2">
        <div id="contentformRegister" class="col py-2 px-lg-1">
            <div id="form-register">
                {{ form_start(formRegister) }}
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card bg-light mb-3">
                                <div class="card-header font-weight-bold">Авторизационные данные</div>
                                <div class="card-body">
                                    <div class="form-group col text-dark">
{#                                        <legend>{{'user.username'|trans({},'forms')|raw}}</legend>#}
                                        <div>{{ form_label(formRegister.username) }}</div>
                                        {{ form_widget(formRegister.username) }}
                                        <small>{{ form_help(formRegister.username) }}</small>
{#                                        {{ form_errors(formRegister.username) }}#}
                                    </div>
                                    <div class="form-group col text-dark">
                                        {{ form_label(formRegister.email) }}
                                        {{ form_widget(formRegister.email) }}
                                        <small>{{ form_help(formRegister.email) }}</small>
                                    </div>
                                    <div class="form-group col text-dark">
                                        {{ form_widget(formRegister.plainPassword) }}
                                        <small>{{ form_help(formRegister.plainPassword) }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card bg-light mb-3">
                                <div class="card-header font-weight-bold">Роли</div>
                                <div class="card-body">
                                    <div class="form-group col text-dark">
                                        <p class="mb-1">{{'user.kind'|trans({},'forms')|raw}}</p>
                                        {{ form_widget(formRegister.userkind) }}
                                        <small>{{ form_help(formRegister.userkind) }}</small>
                                    </div>
                                    <div class="form-group col text-dark">
                                        <p class="mb-1">{{'user.roles'|trans({},'forms')|raw}}</p>
                                        {{ form_widget(formRegister.roles, {'attr': {'class': 'custom-control custom-radio'}}) }}
                                        <small>{{ form_help(formRegister.roles) }}</small>
                                        <small class="form-text text-muted">
                                            Если Ваша роль не соответствует выбранной по умолчанию, обратитесь к администратору по электронной почте admin@barsu.by
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card bg-light mb-3">
                                <div class="card-header font-weight-bold">Фамилия, имя, отчество на русском языке</div>
                                <div class="card-body">
                                    <div class="form-group col text-dark">
                                        {{ form_label(formRegister.lastname) }}
                                        {{ form_widget(formRegister.lastname) }}
                                        <small>{{ form_help(formRegister.lastname) }}</small>
                                    </div>
                                    <div class="form-group col text-dark">
                                        {{ form_label(formRegister.firstname) }}
                                        {{ form_widget(formRegister.firstname) }}
                                        <small>{{ form_help(formRegister.firstname) }}</small>
                                    </div>
                                    <div class="form-group col text-dark">
                                        {{ form_label(formRegister.patronymic) }}
                                        {{ form_widget(formRegister.patronymic) }}
                                        <small>{{ form_help(formRegister.patronymic) }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card bg-light mb-3">
                                <div class="card-header font-weight-bold">Фамилия, имя, отчество на английском языке</div>
                                <div class="card-body">
                                    <div class="form-group col text-dark">
                                        {{ form_label(formRegister.enLastname) }}
                                        {{ form_widget(formRegister.enLastname) }}
                                        <small>{{ form_help(formRegister.enLastname) }}</small>
                                    </div>
                                    <div class="form-group col text-dark">
                                        {{ form_label(formRegister.enFirstname) }}
                                        {{ form_widget(formRegister.enFirstname) }}
                                        <small>{{ form_help(formRegister.enFirstname) }}</small>
                                    </div>
                                    <div class="form-group col text-dark">
                                        {{ form_label(formRegister.enPatronymic) }}
                                        {{ form_widget(formRegister.enPatronymic) }}
                                        <small>{{ form_help(formRegister.enPatronymic) }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card bg-light mb-3">
                                <div class="card-header font-weight-bold">Место работы/учебы</div>
                                <div class="card-body">
                                    {# ############################################################ #}
                                    {# Блок информации о пользователе типа "Сотрудник университета" #}
                                    <div id="colleague-department" class="form-group col text-dark {{ formRegister.userkind.vars.value == '2' ? 'invisible' }} ">
                                        {{ form_label(formRegister.department) }}
                                        {{ form_widget(formRegister.department) }}
                                        <small>{{ form_help(formRegister.department) }}</small>
                                    </div>
                                    <div id="colleague-position"  class="form-group col text-dark {{ formRegister.userkind.vars.value == '2' ? 'invisible' }} ">
                                        {{ form_label(formRegister.positions) }}
                                        {{ form_widget(formRegister.positions) }}
                                        <small>{{ form_help(formRegister.positions) }}</small>
                                    </div>
                                    <div id="colleague-date-start" class="form-group col text-dark {{ formRegister.userkind.vars.value == '2' ? 'invisible' }}">
                                        {{ form_label(formRegister.dateStartPosition) }}
                                        {{ form_widget(formRegister.dateStartPosition) }}
                                        <small>{{ form_help(formRegister.dateStartPosition) }}</small>
                                    </div>
                                    {# ############################################################ #}

                                    {# ############################################################ #}
                                    {# Блок информации о пользователе типа "Студент университета"   #}
                                    <div id="student-faculty" class="form-group col text-dark {{ formRegister.userkind.vars.value == '3' ? 'invisible' }} ">
                                        {{ form_label(formRegister.faculty) }}
                                        {{ form_widget(formRegister.faculty) }}
                                        <small>{{ form_help(formRegister.faculty) }}</small>
                                    </div>
                                    <div id="student-speciality" class="form-group col text-dark {{ formRegister.userkind.vars.value == '3' ? 'invisible' }} ">
                                        {{ form_label(formRegister.speciality) }}
                                        {{ form_widget(formRegister.speciality) }}
                                        <small>{{ form_help(formRegister.speciality) }}</small>
                                    </div>
                                    <div id="student-group" class="form-group col text-dark {{ formRegister.userkind.vars.value == '3' ? 'invisible' }} ">
                                        {{ form_label(formRegister.group) }}
                                        {{ form_widget(formRegister.group) }}
                                        <small>{{ form_help(formRegister.group) }}</small>
                                    </div>
                                    <div id="student-date-start" class="form-group col text-dark {{ formRegister.userkind.vars.value == '3' ? 'invisible' }}">
                                        {{ form_label(formRegister.dateStartSpeciality) }}
                                        {{ form_widget(formRegister.dateStartSpeciality) }}
                                        <small>{{ form_help(formRegister.dateStartSpeciality) }}</small>
                                    </div>
                                    {# ############################################################ #}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card bg-light mb-3">
                                <div class="card-header font-weight-bold">Сфера интересов</div>
                                <div class="card-body">
                                    <div class="form-group col text-dark">
                                        <p class="mb-1">{{'user.interests'|trans({},'forms')|raw}}</p>
                                        {{ form_widget(formRegister.interests, {'attr': {'class': 'custom-control custom-checkbox'}}) }}
                                        <small>{{ form_help(formRegister.interests) }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div>
                                <p class="text-muted mt-1 mb-1">
                                    {{'user.download-contract'|trans({},'forms')|raw}}
                                    <a href="" class="text-primary">скачать</a>/<a href="" class="text-primary">посмотреть</a>
                                </p>
                                <p class="text-muted mt-1 mb-1">{{'user.agreement'|trans({},'forms')|raw}}</p>
                            </div>
                            <div class="form-group mx-3">
                                {{ form_row(formRegister.termsAccepted)}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            {% if captchaError %}
                                <span class="invalid-feedback d-block">
                                    <span class="form-error-icon badge badge-danger text-uppercase">{{'error.icon'|trans({},'forms')|raw}}</span>
                                    <span class="form-error-message">{{ captchaError }}</span>
                                </span>
                            {% endif %}
                            <div class="g-recaptcha form-group" data-sitekey="{{ captchaKey }}"></div>
                            <div class="text-danger" id="recaptchaError"></div>
                        </div>
                    </div>
                {{ form_end(formRegister) }}
            </div>
        </div>
    </div>
</div>